[submodule "external/imgui-cmake/imgui"]
	path = external/imgui-cmake/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw3.3"]
	path = external/glfw3.3
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
